---
title: chocoby.org
---

.header.pure-u-1
  %h1 chocoby.org

.content.pure-u-1
  %h2 アカウント
  %ul
    %li
      Blog :
      %a{ href: "http://hima-j.in", target: "_blank" } 暇人じゃない
    %li
      GitHub :
      %a{ href: "https://github.com/chocoby", target: "_blank" } @chocoby
    %li
      Twitter :
      %a{ href: "https://twitter.com/cho_co", target: "_blank" } @cho_co
    %li
      Flickr :
      %a{ href: "http://www.flickr.com/photos/cho_co", target: "_blank" } cho_co

  %h2 作ったもの
  %h2 スキル
