---
title: chocoby.org
---

.header.pure-u-1
  %h1 chocoby.org

.content.pure-u-1
  %h2 アカウント

  %ul
    %li
      Blog :
      %a{ href: "http://hima-j.in", target: "_blank" } 暇人じゃない
    %li
      GitHub :
      %a{ href: "https://github.com/chocoby", target: "_blank" } @chocoby
    %li
      Twitter :
      %a{ href: "https://twitter.com/cho_co", target: "_blank" } @cho_co
    %li
      Flickr :
      %a{ href: "http://www.flickr.com/photos/cho_co", target: "_blank" } cho_co

  %h2 作ったもの

  %h3 Web サービス
  %ul
    %li
      %a{ href: "http://currybu.com", target: "_blank" } CurryBu
      \: 食べたカレーを共有するサービス

  %h3 ライブラリ(RubyGems)
  %ul
    %li
      %a{ href: "https://rubygems.org/gems/jp_prefecture", target: "_blank" } JpPrefecture
      \: 都道府県コードと都道府県名を相互に変換するライブラリ

  %h2 スキル

  %a{ href: "/skills" } スキル一覧...
