---
title: Skills - chocoby.org
---

%header.pure-u-1
  %h1
    %a{ href: "/" } chocoby.org

.content.pure-u-1
  %h2 Skills

  %h3 Programming Languages

  %ul
    %li Ruby
    %li PHP
    %li Python

  %h3 Web Application Frameworks

  %ul
    %li Ruby on Rails
    %li Sinatra
    %li CakePHP
    %li Silex
    %li Ethna
    %li Django

  %h3 View Languages

  %ul
    %li HTML
    %li Haml
    %li ERB
    %li CSS
    %li SCSS, SASS, LESS
    %li JavaScript
    %li CoffeeScript

  %h3 Testing

  %ul
    %li RSpec
    %li factory_girl
    %li PHPUnit

  %h3 Deployments

  %ul
    %li Capistrano
    %li Resque
    %li Delayed::Job

  %h3 Web Servers / Application Servers

  %ul
    %li Apache
    %li Nginx
    %li Unicorn
    %li Passenger

  %h3 Mail Servers

  %ul
    %li Postfix

  %h3 Databases

  %ul
    %li MySQL
    %li MongoDB
    %li Redis
    %li Solr

  %h3 Amazon Web Services

  %ul
    %li EC2
    %li RDS
    %li ELB
    %li VPC
    %li SES
    %li S3
    %li Route 53
    %li CloudWatch
    %li CloudFront

  %h3 PaaS

  %ul
    %li Heroku

  %h3 Tools

  %ul
    %li Vim
    %li Git
    %li Zsh
    %li Tmux

  %h3 Operating Systems

  %ul
    %li Mac OS X
    %li Debian
    %li Ubuntu
    %li CentOS

  .index
    %a{ href: "/" } Index
